*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  --n1: #282A36;
    --n2: #373B4B;
    --n3 : #3459DA;
    font-family: 'Poppins', sans-serif;
  
}


a{
  text-decoration: none;
  color: #94a0ce;
  font-size: 1.5rem;
  font-weight: bold;
}
ul{
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: right;
}
li{
  list-style: none;
  margin-right: 70px;
}
.nav22{
  width: 100%;
  height: 75px;
  background-color: var(--n1);
  display: flex;
}
.area{
width: 100%;
height: 100vh;
background-color: var(--n2);
display: flex;


}
.total{
  width: 40%;
height: 100%;


display: flex;
flex-direction: column;
align-items: center;

padding: 20px;
}
.title{
  
  font-size: 1.5rem;
  color: #94a0ce;
  font-weight: bold;
}
.text{
  color: #94a0ce;
  text-align: center;
  margin-top: 30px;
}
p{
  font-size: 2rem;
  color: #94a0ce;
  margin-top: 40px;
}
.parcela{
  width:55%;
  
  height: auto;
  border: 2px solid #3459DA;
  
  padding: 20px;
  margin: 20px auto;
  
  

  
  
  
}
.carte p{
  text-align: center;
  margin-top: 0px;
  
}
.carte{
  
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
 
  font-size: 2rem;
  color: #94a0ce;
  
  
}
.id{
  font-size: 1rem;
  
}